**Pandas** is an open-source, Python library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language.
Pandas is an open-source Python Library providing high-performance data manipulation and analysis tool using its powerful data structures. The name Pandas is derived from the word Panel Data – an Econometrics from Multidimensional data.

A **Data frame** is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.

A pandas DataFrame can be created using the following constructor −
pandas.DataFrame( data, index, columns, dtype, copy)

In [ ]:
## First step is to import pandas

import pandas as pd
import numpy as np

In [ ]:
## Playing with Dataframe
#a dataframe is a combination of rows and columns

df=pd.DataFrame(np.arange(0,20).reshape(5,4),index=['Row1','Row2','Row3','Row4','Row5'],columns=["Column1","Column2","Column3","Coumn4"])
df

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
df.head()# first 5 rows
#try tail
#df.tail()#last 5 rows

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
df.to_csv('test1.csv')#works with jupyter

In [ ]:
#accessing elements
#loc   #iloc
df.loc[['Row1','Row2']]

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7

In [ ]:
#check the type
type(df.loc['Row1'])
#series has only one row or column

pandas.core.series.Series

In [ ]:
#iloc
df.iloc[:,:]

      Column1  Column2  Column3  Coumn4
Row1        0        1        2       3
Row2        4        5        6       7
Row3        8        9       10      11
Row4       12       13       14      15
Row5       16       17       18      19

In [ ]:
## Take the elements from the Column2
df.iloc[:,1:]

      Column2  Column3  Coumn4
Row1        1        2       3
Row2        5        6       7
Row3        9       10      11
Row4       13       14      15
Row5       17       18      19

In [ ]:
df.iloc[0:3,0:2]#df.iloc[:3,:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [ ]:
type(df.iloc[0:3,0:2])

pandas.core.frame.DataFrame

In [ ]:
#convert Dataframes into array
df.iloc[:,1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [ ]:
df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [ ]:
df.isnull().sum()#check every column if there is any null value

Column1    0
Column2    0
Column3    0
Coumn4     0
dtype: int64

In [ ]:
df.isnull()

      Column1  Column2  Column3  Coumn4
Row1    False    False    False   False
Row2    False    False    False   False
Row3    False    False    False   False
Row4    False    False    False   False
Row5    False    False    False   False

In [ ]:
df.notnull()

      Column1  Column2  Column3  Coumn4
Row1     True     True     True    True
Row2     True     True     True    True
Row3     True     True     True    True
Row4     True     True     True    True
Row5     True     True     True    True

In [ ]:
df.isnull().any()

Column1    False
Column2    False
Column3    False
Coumn4     False
dtype: bool

In [ ]:
df.notnull().sum()

Column1    5
Column2    5
Column3    5
Coumn4     5
dtype: int64

In [ ]:
df.notnull().any()

Column1    True
Column2    True
Column3    True
Coumn4     True
dtype: bool

In [ ]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [ ]:
df['Column2']

Row1     1
Row2     5
Row3     9
Row4    13
Row5    17
Name: Column2, dtype: int64

In [ ]:
type(df['Column2'])

pandas.core.series.Series

In [ ]:
df[['Column2','Coumn4']]

      Column2  Coumn4
Row1        1       3
Row2        5       7
Row3        9      11
Row4       13      15
Row5       17      19

In [ ]:
#CREATE AN EMPTY DATAFRAME
#import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:


data = [['Alex',10],['Bob',12],['Clarke',13]]
df= pd.DataFrame(data,columns=['Name','Age'])
print(df)

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [ ]:

import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [ ]:
#indexed dataframe
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data,index=['rank1','rank2','rank3','rank4'])
print(df)

        Name  Age
rank1    Tom   28
rank2   Jack   34
rank3  Steve   29
rank4  Ricky   42

In [ ]:
import numpy as np
lst_data=[[1,2,3],[3,4,np.nan],[5,6,np.nan],[np.nan,np.nan,np.nan]]

In [ ]:
df=pd.DataFrame(lst_data)

In [ ]:
df.head()

     0    1    2
0  1.0  2.0  3.0
1  3.0  4.0  NaN
2  5.0  6.0  NaN
3  NaN  NaN  NaN

In [ ]:
## HAndling Missing Values

##Drop nan values

df.dropna(axis=0)

     0    1    2
0  1.0  2.0  3.0

In [ ]:

df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3]

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
                     columns=['one', 'two', 'three'])
df

        one       two     three
a  1.369950  0.689393 -0.990808
c -1.803303 -2.906313 -1.137756
e  0.891394 -1.435760  0.694933
f -0.943939  0.325531  0.063821
h  0.214827  0.745543 -2.161219

In [ ]:
df2=df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

In [ ]:
df2 #1  2 3  4 5  6
#1 3 5 6
#df.reindex()
1234

        one       two     three
a  1.369950  0.689393 -0.990808
b       NaN       NaN       NaN
c -1.803303 -2.906313 -1.137756
d       NaN       NaN       NaN
e  0.891394 -1.435760  0.694933
f -0.943939  0.325531  0.063821
g       NaN       NaN       NaN
h  0.214827  0.745543 -2.161219

In [ ]:
df2.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

In [ ]:

pd.isna(df2['one'])#isnull

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [ ]:
df2['one'].notna()

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [ ]:
df2.fillna('Missing')

         one        two     three
a   -1.09168 -0.0493499  -0.44454
b    Missing    Missing   Missing
c   0.121645  -0.679155 -0.956376
d    Missing    Missing   Missing
e    2.37984   0.675421 -0.663766
f -0.0750738   0.699383   2.23007
g    Missing    Missing   Missing
h   -1.18215  -0.475823  -1.07729

In [ ]:
df2.fillna('Missing')

         one        two     three
a   -1.09168 -0.0493499  -0.44454
b    Missing    Missing   Missing
c   0.121645  -0.679155 -0.956376
d    Missing    Missing   Missing
e    2.37984   0.675421 -0.663766
f -0.0750738   0.699383   2.23007
g    Missing    Missing   Missing
h   -1.18215  -0.475823  -1.07729

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving titanic.csv to titanic.csv

In [ ]:

import pandas as pd
import numpy as np
df1 = pd.read_csv('titanic.csv')
df1

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
#df=pd.read_csv('titanic.csv',usecols=['col1','col2'])

In [ ]:
#get the shape
df1.shape

(891, 12)

In [ ]:
#get first 5 rows from top
df1.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
#get first 10 rows from top
df1.head(10)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S
7            8         0       3  ...  21.0750   NaN         S
8            9         1       3  ...  11.1333   NaN         S
9           10         1       2  ...  30.0708   NaN         C

[10 rows x 12 columns]

In [ ]:
df1.tail()#get last 5 rows
#df1.tail(10)#get last 10 rows

     PassengerId  Survived  Pclass  ...   Fare Cabin  Embarked
886          887         0       2  ...  13.00   NaN         S
887          888         1       1  ...  30.00   B42         S
888          889         0       3  ...  23.45   NaN         S
889          890         1       1  ...  30.00  C148         C
890          891         0       3  ...   7.75   NaN         Q

[5 rows x 12 columns]

In [ ]:
df1.ndim#get the dimension of dataset

2

In [ ]:
df1.columns#returns column names

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [ ]:
df1.dtypes#returns datatypes of columns

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [ ]:
df1.info()#gives information about dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
print(df1['Cabin'])#print a column

0       NaN
1       C85
2       NaN
3      C123
4       NaN
       ...
886     NaN
887     B42
888     NaN
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [ ]:
print(df1[['Age','Cabin']])

      Age Cabin
0    22.0   NaN
1    38.0   C85
2    26.0   NaN
3    35.0  C123
4    35.0   NaN
..    ...   ...
886  27.0   NaN
887  19.0   B42
888   NaN   NaN
889  26.0  C148
890  32.0   NaN

[891 rows x 2 columns]

In [ ]:
print(df1[['Age','Cabin','Ticket','Pclass']])

      Age Cabin            Ticket  Pclass
0    22.0   NaN         A/5 21171       3
1    38.0   C85          PC 17599       1
2    26.0   NaN  STON/O2. 3101282       3
3    35.0  C123            113803       1
4    35.0   NaN            373450       3
..    ...   ...               ...     ...
886  27.0   NaN            211536       2
887  19.0   B42            112053       1
888   NaN   NaN        W./C. 6607       3
889  26.0  C148            111369       1
890  32.0   NaN            370376       3

[891 rows x 4 columns]

In [ ]:
df1.Survived.value_counts()#count the number of values in columns

0    549
1    342
Name: Survived, dtype: int64

In [ ]:
df1.Pclass.value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [ ]:
df1.Fare.value_counts()

8.0500     43
13.0000    42
7.8958     38
7.7500     34
26.0000    31
           ..
8.4583      1
9.8375      1
8.3625      1
14.1083     1
17.4000     1
Name: Fare, Length: 248, dtype: int64

In [ ]:
df1.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
r1=df1.iloc[3]#print row of given index
print(r1)

PassengerId                                               4
Survived                                                  1
Pclass                                                    1
Name           Futrelle, Mrs. Jacques Heath (Lily May Peel)
Sex                                                  female
Age                                                      35
SibSp                                                     1
Parch                                                     0
Ticket                                               113803
Fare                                                   53.1
Cabin                                                  C123
Embarked                                                  S
Name: 3, dtype: object

In [ ]:
r2=df1.iloc[3:7]#print row values of given loc
print(r2)

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S
5            6         0       3  ...   8.4583   NaN         Q
6            7         0       1  ...  51.8625   E46         S

[4 rows x 12 columns]

In [ ]:
print(df1.iloc[:2])

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C

[2 rows x 12 columns]

**HANDLING MISSING DATA**

In [ ]:
df1.isnull().any()

PassengerId    False
Survived       False
Pclass         False
Name           False
Sex            False
Age             True
SibSp          False
Parch          False
Ticket         False
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [ ]:
df1.notnull().any()

PassengerId    True
Survived       True
Pclass         True
Name           True
Sex            True
Age            True
SibSp          True
Parch          True
Ticket         True
Fare           True
Cabin          True
Embarked       True
dtype: bool

In [ ]:
df1['Cabin'].isnull()

0       True
1      False
2       True
3      False
4       True
       ...
886     True
887    False
888     True
889    False
890     True
Name: Cabin, Length: 891, dtype: bool

In [ ]:
df1['Cabin'].notnull()

0      False
1       True
2      False
3       True
4      False
       ...
886    False
887     True
888    False
889     True
890    False
Name: Cabin, Length: 891, dtype: bool

In [ ]:
df1.notnull().sum()

PassengerId    891
Survived       891
Pclass         891
Name           891
Sex            891
Age            714
SibSp          891
Parch          891
Ticket         891
Fare           891
Cabin          204
Embarked       889
dtype: int64

In [ ]:
df1.isnull()

     PassengerId  Survived  Pclass   Name  ...  Ticket   Fare  Cabin  Embarked
0          False     False   False  False  ...   False  False   True     False
1          False     False   False  False  ...   False  False  False     False
2          False     False   False  False  ...   False  False   True     False
3          False     False   False  False  ...   False  False  False     False
4          False     False   False  False  ...   False  False   True     False
..           ...       ...     ...    ...  ...     ...    ...    ...       ...
886        False     False   False  False  ...   False  False   True     False
887        False     False   False  False  ...   False  False  False     False
888        False     False   False  False  ...   False  False   True     False
889        False     False   False  False  ...   False  False  False     False
890        False     False   False  False  ...   False  False   True     False

[891 rows x 12 columns]

In [ ]:
df1.fillna(5)

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500     5         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250     5         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500     5         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000     5         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500     5         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500     5         Q

[891 rows x 12 columns]

In [ ]:
df1['Cabin'].fillna(method='bfill')#will fill with next values

0       C85
1       C85
2      C123
3      C123
4       E46
       ...
886     B42
887     B42
888    C148
889    C148
890     NaN
Name: Cabin, Length: 891, dtype: object

In [ ]:
df1["Cabin"]=df1['Cabin'].fillna(method='Pad')#fill with previous values
df1

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   C85         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500  C123         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   C50         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   B42         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500  C148         Q

[891 rows x 12 columns]

In [ ]:
df1

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

**Try the following in the above dataset**

1.label encoding
2.one hot encoding
3.describe()
4.learn about scaling of dataframe:min max scalar,normalization,standard scalar
5learn and apply padfill,backfill,dropna()

**summary statistics**

In [ ]:

import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
my_df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(my_df)

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [ ]:
my_df.sum()

Name    AlexBobClarke
Age                35
dtype: object

In [ ]:
my_df.describe()

             Age
count   3.000000
mean   11.666667
std     1.527525
min    10.000000
25%    11.000000
50%    12.000000
75%    12.500000
max    13.000000

**describe()** will exclude chara columns

In [ ]:
my_df.describe(include='all')

        Name        Age
count      3   3.000000
unique     3        NaN
top     Alex        NaN
freq       1        NaN
mean     NaN  11.666667
std      NaN   1.527525
min      NaN  10.000000
25%      NaN  11.000000
50%      NaN  12.000000
75%      NaN  12.500000
max      NaN  13.000000

In [ ]:
import seaborn as sns
d=sns.load_dataset('titanic')
print(d.head())

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

Write a Pandas program to create

a) Datetime object for Jan 15 2012.

b) Specific date and time of 9:20 pm.

c) Local date and time.

d) A date without time.

e) Current date.

f) Time from a datetime.

g) Current local time.

In [ ]:
import datetime
from datetime import datetime
print("Datetime object for Jan 11 2012:")
print(datetime(2012, 1, 11))
print("\nSpecific date and time of 9:20 pm") 
print(datetime(2011, 1, 11, 21, 20))
print("\nLocal date and time:")
print(datetime.now())
print("\nA date without time: ")
print(datetime.date(datetime(2012, 5, 22)))
print("\nCurrent date:")
print(datetime.now().date())
print("\nTime from a datetime:")
print(datetime.time(datetime(2012, 12, 15, 18, 12)))
print("\nCurrent local time:") 
print(datetime.now().time())

Datetime object for Jan 11 2012:
2012-01-11 00:00:00

Specific date and time of 9:20 pm
2011-01-11 21:20:00

Local date and time:
2020-10-04 14:56:13.134457

A date without time:
2012-05-22

Current date:
2020-10-04

Time from a datetime:
18:12:00

Current local time:
14:56:13.134951

In [ ]:
#row selection based on condition
df1[df1['Sex']=='female']
#df1[df1['Sex']=='female'].head()

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
8              9         1       3  ...  11.1333   NaN         S
9             10         1       2  ...  30.0708   NaN         C
..           ...       ...     ...  ...      ...   ...       ...
880          881         1       2  ...  26.0000   NaN         S
882          883         0       3  ...  10.5167   NaN         S
885          886         0       3  ...  29.1250   NaN         Q
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S

[314 rows x 12 columns]

In [ ]:
#multiple row selection
df1[(df1['Survived']==1)&(df1['Pclass']==1)]

     PassengerId  Survived  Pclass  ...      Fare Cabin  Embarked
1              2         1       1  ...   71.2833   C85         C
3              4         1       1  ...   53.1000  C123         S
11            12         1       1  ...   26.5500  C103         S
23            24         1       1  ...   35.5000    A6         S
31            32         1       1  ...  146.5208   B78         C
..           ...       ...     ...  ...       ...   ...       ...
862          863         1       1  ...   25.9292   D17         S
871          872         1       1  ...   52.5542   D35         S
879          880         1       1  ...   83.1583   C50         C
887          888         1       1  ...   30.0000   B42         S
889          890         1       1  ...   30.0000  C148         C

[136 rows x 12 columns]

In [ ]:
#replace column values
df1['Embarked'] = df1['Embarked'].replace(['C'],'port c')
df1

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85    port c
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148    port c
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
#replace more column values
df1['Embarked'] = df1['Embarked'].replace(['C','S'],['port c','port S'])
df1

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN    port S
1              2         1       1  ...  71.2833   C85    port c
2              3         1       3  ...   7.9250   NaN    port S
3              4         1       1  ...  53.1000  C123    port S
4              5         0       3  ...   8.0500   NaN    port S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN    port S
887          888         1       1  ...  30.0000   B42    port S
888          889         0       3  ...  23.4500   NaN    port S
889          890         1       1  ...  30.0000  C148    port c
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
#Renaming columns
df1.rename(columns={'Name':'a','Sex':'Gender'})

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN    port S
1              2         1       1  ...  71.2833   C85    port c
2              3         1       3  ...   7.9250   NaN    port S
3              4         1       1  ...  53.1000  C123    port S
4              5         0       3  ...   8.0500   NaN    port S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN    port S
887          888         1       1  ...  30.0000   B42    port S
888          889         0       3  ...  23.4500   NaN    port S
889          890         1       1  ...  30.0000  C148    port c
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [ ]:
#NA
df1=df1.drop(['Survived','Age'],axis=1)
df1

     PassengerId  Pclass  ... Cabin Embarked
0              1       3  ...   NaN        S
1              2       1  ...   C85        C
2              3       3  ...   NaN        S
3              4       1  ...  C123        S
4              5       3  ...   NaN        S
..           ...     ...  ...   ...      ...
886          887       2  ...   NaN        S
887          888       1  ...   B42        S
888          889       3  ...   NaN        S
889          890       1  ...  C148        C
890          891       3  ...   NaN        Q

[891 rows x 10 columns]

In [ ]:
df1=df1.drop(df1.index[2])
df1

     PassengerId  Pclass  ... Cabin Embarked
0              1       3  ...   NaN        S
1              2       1  ...   C85        C
4              5       3  ...   NaN        S
5              6       3  ...   NaN        Q
6              7       1  ...   E46        S
..           ...     ...  ...   ...      ...
886          887       2  ...   NaN        S
887          888       1  ...   B42        S
888          889       3  ...   NaN        S
889          890       1  ...  C148        C
890          891       3  ...   NaN        Q

[889 rows x 10 columns]

In [ ]:
#drop duplicates
df1.drop_duplicates()
df1

     PassengerId  Pclass  ... Cabin Embarked
0              1       3  ...   NaN        S
1              2       1  ...   C85        C
4              5       3  ...   NaN        S
5              6       3  ...   NaN        Q
6              7       1  ...   E46        S
..           ...     ...  ...   ...      ...
886          887       2  ...   NaN        S
887          888       1  ...   B42        S
888          889       3  ...   NaN        S
889          890       1  ...  C148        C
890          891       3  ...   NaN        Q

[889 rows x 10 columns]

In [ ]:
#looping 
for Name in df1['Name'][0:5]:
  print(Name.upper())

BRAUND, MR. OWEN HARRIS
CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS THAYER)
ALLEN, MR. WILLIAM HENRY
MORAN, MR. JAMES
MCCARTHY, MR. TIMOTHY J

In [ ]:
import pandas as pd

df = pd.DataFrame({'A': [11, 21, 31],
                   'B': [12, 22, 32],
                   'C': [13, 23, 33]},
                  index=['ONE', 'TWO', 'THREE'])

print(df)
#         A   B   C
# ONE    11  12  13
# TWO    21  22  23
# THREE  31  32  33

        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33

In [ ]:
df_new = df.rename(columns={'A': 'a'}, index={'ONE': 'one'})
print(df_new)
#         a   B   C
# one    11  12  13
# TWO    21  22  23
# THREE  31  32  33

print(df)
#         A   B   C
# ONE    11  12  13
# TWO    21  22  23
# THREE  31  32  33

        a   B   C
one    11  12  13
TWO    21  22  23
THREE  31  32  33
        A   B   C
ONE    11  12  13
TWO    21  22  23
THREE  31  32  33